// Font
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
$app-font-family: 'M PLUS Rounded 1c', sans-serif;

// Color palette
$black: #000000;
$onyx: #3D3D3D;
$dark-red: #D11010;
$red: #FF1616;
$silver: #CCCCCC;
$platinum: #E0E0E0;
